<md-button class="md-fab md-fab-bottom-right" aria-label="Add" ui-sref="newBook">
    <ng-md-icon icon="add"></ng-md-icon>
</md-button>

<md-toolbar class="md-whiteframe-1dp" ng-show="!showSearch">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Menu" ng-click="toggleSidenav()" hide-gt-md>
      <ng-md-icon icon="menu"></ng-md-icon>
    </md-button>
    <h2>
      Books
    </h2>
    <span flex></span>
    <md-button class="md-icon-button" aria-label="Search" ng-click="showSearch = !showSearch">
      <ng-md-icon icon="search"></ng-md-icon>
    </md-button>
  </div>
</md-toolbar>

<md-toolbar class="md-whiteframe-1dp md-hue-1" ng-show="showSearch">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Back" ng-click="showSearch = !showSearch">
      <ng-md-icon icon="arrow_back"></ng-md-icon>
    </md-button>
    <h2 flex="10">
      Back
    </h2>

    <span layout="column" flex>
      <label>&nbsp;</label>
      <md-input-container md-no-float class="md-block">
        <input ng-model="search.$" placeholder="enter search">
      </md-input-container>
    </span>

    <md-button class="md-icon-button" aria-label="Search" ng-click="showSearch = !showSearch">
      <ng-md-icon icon="search"></ng-md-icon>
    </md-button>
  </div>
</md-toolbar>

<md-content flex md-scroll-y>
    <div layout="column" layout-fill layout-padding role="main">
        <div class="inset" hide-sm></div>

        <md-card flex-gt-sm="90" flex-gt-md="80">
            <md-card-content>

              <md-list>
                <md-subheader class="md-no-sticky">Available</md-subheader>
                <md-list-item
                    class="md-2-line secondary-button-padding"
                    ng-repeat="book in books | filter:search | bookFilter:{borrowed: false, available:true} | orderBy : ['-recommended_by.length', 'title']"
                    ui-sref="viewBook({id:book._id})">
                    
                    <img alt="{{ book.title }}" ng-src="{{ book.thumbnail || '/images/nocover.jpg' }}" class="md-tile-left" height="72px" />
                    <div class="md-list-item-text inset">  
                      <h3>{{book.title}}</h3>
                      <p>{{book.subtitle}}</p>
                      <p>{{book.authors.join(", ")}}</p>
                      <md-button
                        class="md-secondary"
                        ng-class="{already_recommended: book.is_recommended, not_recommended: !book.is_recommended}"
                        aria-label="Recommend"
                        ng-click="toggle_recommend(book)" >
                        +{{book.recommended_by.length}}
                      </md-button>
                      
                    </div>
                </md-list-item>
                <md-subheader class="md-no-sticky">Borrowed</md-subheader>
                <md-list-item
                    class="md-2-line secondary-button-padding"
                    ng-repeat="book in books | filter:search | bookFilter:{borrowed: true, available:false} | orderBy : ['-recommended_by.length', 'title']"
                    ui-sref="viewBook({id:book._id})"
                    style="opacity: 0.4">
                    
                    <img alt="{{ book.title }}" ng-src="{{ book.thumbnail || '/images/nocover.jpg' }}" class="md-tile-left" height="72px" />
                    <div class="md-list-item-text inset">  
                      <h3>{{book.title}}</h3>
                      <p>{{book.subtitle}}</p>
                      <p>{{book.authors.join(", ")}}</p>
                      <md-button
                        class="md-secondary"
                        ng-class="{already_recommended: book.is_recommended, not_recommended: !book.is_recommended}"
                        aria-label="Recommend"
                        ng-click="toggle_recommend(book)" >
                        +{{book.recommended_by.length}}
                      </md-button>
                      
                    </div>
                </md-list-item>
              </md-list>

            </md-card-content>
        </md-card>
    </div>
</md-content>