<md-toolbar class="md-whiteframe-1dp md-hue-1">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Back" ng-click="goBack()">
      <ng-md-icon icon="arrow_back"></ng-md-icon>
    </md-button>
  </div>
</md-toolbar>

<md-content>
    <div layout="column" layout-fill layout-padding role="main">
        
        <div class="inset" hide-sm></div>
        
          <md-card>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">{{book.title}}</span>
                <span class="md-subhead">{{book.subtitle}}</span>
                <span>by <em>{{authors_string}}</em></span>
              </md-card-title-text>
              <md-card-title-media>
                <div class="md-media-sm card-media"><img ng-src="{{book.thumbnail}}"/></div>
              </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="start center">
              <md-button
                    ng-show="book.google_id"
                    ng-href="https://books.google.be/books/about?id={{book.google_id}}" target="_blank">
                    Google Books<span ng-show="book.google_ratings_avg"> : {{book.google_ratings_avg}}/5</span>
                </md-button>
                <md-button
                    ng-show="book.goodreads_id"
                    ng-href="https://www.goodreads.com/book/show/{{book.goodreads_id}}" target="_blank">
                    Goodreads<span ng-show="book.goodreads_ratings_avg"> : {{book.goodreads_ratings_avg}}/5</span>
                </md-button>
            </md-card-actions>

           <md-card-content>

                <div ng-show="book.description">
                    <span class="md-title">Synopsis</span>
                    <p ng-bind-html="sanitizedDescription()"></p>
                </div>

                
                <div ng-show="book.voted_by.length > 0">

                    <md-list class="fixedRows">
                    <span class="md-title">Voted for by</span>
                     <md-list-item class="md-2-line contact-item" ng-repeat="user in book.voted_by | orderBy : 'name'">
                        <img ng-src="{{user.picture}}" class="md-avatar" alt="{{user.name}}" />
                        <div class="md-list-item-text compact">
                          <h3>{{user.name}}</h3>
                        </div>
                        </md-list-item>
                    </md-list>
                </div>
                

                <div ng-show="book.categories.length > 0">
                    <span class="md-title">Categories</span>
                    <md-chips ng-model="book.categories" readonly="true"></md-chips>
                </div>

            </md-card-content>

            <md-card-actions layout="row" layout-align="end center">
                <md-button
                    class="md-primary"
                    ng-click="toggle_vote()"
                    ng-hide="book.is_voted">
                    Vote
                </md-button>

                <md-button
                    class="md-warn"
                    ng-click="toggle_vote()"
                    ng-show="book.is_voted">
                    Remove Vote
                </md-button>
                
                <md-button ui-sref="editVotingBook({id:book._id})">Edit</md-button>
            </md-card-actions>
        </md-card>
    </div>
</md-content>

