<!DOCTYPE html>
<html lang="en" ng-app="CollaborativeBookshelfApp">
  <head>
    <meta charset="UTF-8">
    <title>Library App</title>
    <!-- head:js -->
    <!-- endinject -->
    <!-- bower:css -->
    <!-- endinject -->
    <!-- inject:css -->
    <!-- endinject -->
  </head>
  <body layout="row" ng-controller="AppController">

    <md-sidenav
      layout="column"
      class="md-sidenav-left md-whiteframe-2dp ng-cloak"
      md-component-id="left"
      md-is-locked-open="$mdMedia('gt-md')"
      ng-show="isAuthenticated()">
      
    <md-toolbar class="md-tall md-hue-2">
        <span flex></span>
        <div layout="column" class="md-toolbar-tools-bottom inset">
          <img ng-src="{{user.picture}}" height="64px" width="64px" class="md-avatar" alt="{{user.name}}" ng-cloak/>
          <span></span>
          <div>{{user.name}}</div>
        </div>
    </md-toolbar>
      
      <md-list>
        <md-list-item ng-click="goToBooks()">
          <ng-md-icon icon="find_in_page"></ng-md-icon>
          <p>Books</p>
        </md-list-item>

        <md-list-item ng-click="goToMe()">
          <ng-md-icon icon="person"></ng-md-icon>
          <p>Me</p>
        </md-list-item>

        <md-list-item ng-click="goToActivity()">
          <ng-md-icon icon="list"></ng-md-icon>
          <p>Activity</p>
        </md-list-item>

        <md-list-item ng-click="goToUsers()">
          <ng-md-icon icon="supervisor_account"></ng-md-icon>
          <p>Users</p>
        </md-list-item>

      </md-list>

      <div flex></div>

      <md-list>
        <md-list-item ng-click="goToVoting()">
          <ng-md-icon icon="add_shopping_cart"></ng-md-icon>
          <p>Next deliveries</p>
        </md-list-item>
        <md-list-item ng-click="emailFeedback()">
          <ng-md-icon icon="feedback"></ng-md-icon>
          <p>Feedback</p>
        </md-list-item>
        <md-list-item ng-click="logout()">
          <ng-md-icon icon="exit_to_app"></ng-md-icon>
          <p>Logout</p>
        </md-list-item>
      </md-list>
    </md-sidenav>
    
    <ui-view layout="column" layout-fill>
    </ui-view>

    <!-- bower:js -->
    <!-- endinject -->
    <!-- inject:js -->
    <!-- endinject -->
  </body>
</html>
    